@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: rgb(46, 46, 46);
}

body {
    font: 400 14px Roboto, sans-serif;
    -webkit-font-smoothing: initialized;
    background-color: rgb(231, 231, 231);
    background-image: url(./assets/wallet.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    backdrop-filter: saturate(0.8);
}

span, p, input, label {
    font-size: 18px;
}

img { height: 30px;}

